#parent {
  width: 70vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#chat-box {
  width: 40em;
  aspect-ratio: 1.5;
  margin-top: 10px;
  border: 1px solid black;
  white-space: pre-line;
}

#text-box {
  width: 30em;
  height: 2em;
}
